<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Customer Login</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="font/bootstrap-icons.css">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    
    <!-- Custom styles for this template -->
    <link href="/stylesheets/signin.css" rel="stylesheet">
    <script type="text/javascript" src="crypto-js.js"></script>

    <script>
      function checkPassword(event) {
        // Hashing -> One Way Mucking
        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;

        let message = "";
        let passwordValid = false;

        if(email == "") {
          message = "Please Enter an Email";
          passwordValid = false;
        } else {
          passwordValid = true;
        }
  
        if(password == "") {
          message = "Please Enter a Password";
          passwordValid = false;
        } else {
          passwordValid = true;
        }
  
        if(!passwordValid) {
          document.getElementById("message").innerHTML = message;
          event.preventDefault();
        } else {
          let salt = CryptoJS.lib.WordArray.random(8);
          document.getElementById("salt").value = salt;
          let hash = CryptoJS.SHA256(password + ":" + salt).toString(CryptoJS.enc.Hex);
          document.getElementById("hash").value = hash;
        }
      }
    </script>
  </head>

  <body class="text-center"> 
    <main class="form-signin">
      <form onSubmit="return checkPassword(event);" method="post">
        <i class="bi bi-person-circle" style="font-size: 70px"></i>
        <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
        <div class="form-floating">
          <input class="form-control" id="email" name="email" placeholder="email@mail.com">
          <label for="email">Email Address</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="password" placeholder="Password">
          <label for="password">Password</label>
        </div>
        <div>
          <p id="message" class="text-danger" style="height:25px"><%- locals.message %></p>
        </div>
        <input type="hidden" id="hash" name="hash">
        <input type="hidden" id="salt" name="salt">
        <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
      </form>


      <div class="w-100 rounded d-flex justify-content-center mt-3">
        <button type="button" class="btn btn-lg btn-primary" onclick="window.location.href='/'">Return to Main</button>
      </div>  
    </main>   
  </body>
</html>
